spring:
  application:
    name: security
  datasource:
    url: jdbc:postgresql://localhost:5432/spring_jwt
    username: postgres
    password: 07197697
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

